# Add any directories, files, or patterns you don't want to be tracked by version control
internal-core
firehose-to-syslog*
events/events.test
.project
*.swp
.#*
\#*
my.db
start-firehose.sh
dist
*pprof

